.Breadcrumbs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  box-sizing: content-box;
  background-color: rgba(var(--color-2), 0.3);
}

.Breadcrumbs .HomeIcon {
  scale: 0.7;
}

.Breadcrumbs .Icon {
  padding: 0;
  margin: 0;
}
