.Search {
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.Search main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  overflow-y: scroll;
  padding: 1rem 0;
}

.Search header {
  position: sticky;
  background-color: rgba(var(--background-highlight-color), 0.5);
}

.Search .results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
