.Search {
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: rgba(var(--background-highlight-color), 0.35);
}

.Search main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  overflow-y: scroll;
}

.Search header {
  position: sticky;
  background-color: rgba(var(--background-highlight-color), 0.5);
}

.Search .results {
}
