.WindowDecorations {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.WindowDecorations .Icon {
  margin: 0;
  padding: 0.2rem;
}
.WindowDecorations section {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
  align-items: center;
  cursor: pointer;
}
.WindowDecorations .Icon:hover {
  border-radius: 5rem;
  background-color: rgba(var(--background-highlight-color), 0.3);
}
